.accordion{
  width: 100%; 
  position: sticky;
  display: flex;
  justify-content: center;
  color: var(--Color-Grayscale-1) !important;
  bottom: 0px;
  background: linear-gradient(180deg, var(--Color-transparent) 0%, var(--Color-Primary) 80%);
  text-shadow:$Box-Shadow;
  cursor:pointer;
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:96px;
    background: linear-gradient(180deg, var(--Color-Primary) -10%, var(--Color-transparent) 40%);
    border-radius: 50%;
    padding: 10px;
    width: 70%;
    & .icon-button{
       transform: rotate(180deg);
       transition: all .5s;
       box-shadow:$Box-Shadow !important; 
       margin:initial;
       margin-bottom: 10px;
    }
  }
  & .top-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap:10px;
    width: 70%;
    justify-items: center;
    margin-top: 10px;
    letter-spacing: 1px;
   
  }
  & .bottom-info{
    height:0;
    width:400px;
    overflow:hidden;
    transition: all .3s;
    letter-spacing: 0.8px;
    text-shadow: initial;
    font-size: 0.9em;
    background-color: var(--Color-Grayscale-1);
    color: var(--Color-Primary);
    border-radius:26px;
    box-shadow:$Box-ShadowActive;
    & .row{
      justify-content:space-between;
    }
    & .accordion-row{
      margin-bottom: 15px;
    }
  }
  & .bottom-info-collapse{
    height:170px;
    border-radius:$Spacing-ExtraSmall;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    padding:15px;
    overflow:auto;
    transition: all .3s;
    margin-bottom: -34px;;
    & hr{
      height: 2px;
      margin-bottom: 10px;
      border-bottom-width: 0px;
      border-color:#ffffff36;;
    }
  }

  & .accordion-row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    & .default-icon.our-icon-location,
    & .default-icon.our-icon-profile,
    & .default-icon.our-icon-description{
      margin-right: 10px;
    }
  }
  & .accordion-row__description{
      justify-content: flex-start;
      align-items: flex-start;
      & p{
        margin-bottom: 25px;
      }
  }
  & .accordion-row__description .default-icon.our-icon-description{
      width: 30px;
  }

  & .general_gradient{
      background: linear-gradient(180deg, rgba(29, 20, 20, 0) 0%, #007840 100%);
      width: 100%;
      z-index: -1;
  }
  & .genre-state{
      width:50%
  }
}

.icon-rotate{
  transform: rotate(0deg)!important;
}

@media screen and(max-width: 1000px) {
  .accordion .accordion__content{
    width:80%
  }
}
@media screen and(max-width: 700px) {
  .accordion .accordion__content{
    width:90%;
    border-radius: 40%;
  }
}
@media screen and(max-width: 500px) {
  .accordion .accordion__content{
    width:100%;
    border-radius: 10%;
  }
  .accordion .bottom-info{
    width: 350px;
  }
  .buttons-bar{
    width: 500px;
  }
}
