.addImage {
  display: none;
  border: 1px solid $Color-PrimaryLight-1;
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Color-Grayscale-1;
    box-shadow: $Box-ShadowActive;
    color: $Color-Primary;
    height: 250px;
  }
}

.addImage__label span {
  margin-bottom: $Spacing-ExtraSmall;
  color: $Color-Grayscale-1;
}