.addImage {
  display: none;
  border: 1px solid $Color-PrimaryLight-1;
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $Box-ShadowActive;
    color: $Color-Grayscale-3;
    width: 40%;
    height: 48%;
    padding: $Spacing-ExtraLarge $Spacing-ExtraSmall;
    background-color: white;
  }
}

.addImage__label span {
  margin-bottom: $Spacing-ExtraSmall;
}