.buttons-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 6px var(--Color-Primary);
    border-radius: 50px;
    width: 354px;
    height: 75px;
    background-color:var(--Color-Grayscale-1)
}