
.btn {
  padding: $Spacing-ExtraSmall $Spacing-Normal;
  border: none;
  border-radius: $Border-Radius;
  font-size: $Font-ParagraphLarge;
  color: var(--Color-Grayscale-1);
  background-color: var(--Color-Primary);
  transition: 200ms;
  outline: none;

  &:hover {
    box-shadow: $Box-ShadowActive;
    cursor:pointer;

  }
  &:active {
    transition: 200ms;
    transform: scale(.8);
  }
}