#btn-editclothe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: $Spacing-ExtraSmall;
  box-shadow: $Box-ShadowActive;
  color: $Color-Grayscale-3;
  padding: $Spacing-ExtraSmall;
  width: 200px;
  height: 250px;
  border: initial;
  overflow: hidden;
  border-radius: $Border-Radius;
}

.clothe__image {
  width: auto;
  max-height: 192px
}