#btn-editclothe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: $Spacing-ExtraSmall;
  box-shadow: $Box-ShadowActive;
  color: $Color-Grayscale-3;
  padding: $Spacing-ExtraSmall;
  width: 200px
}

.clothe__image {
  width: 100%;
  height:auto;
}