.form__input {
  margin-top: $Spacing-Normal / 2;
  label {
    font-size: $Font-Paragraph;
    color: var(--Color-PrimaryLight-1);
  }

  input {
    margin-top: $Spacing-ExtraSmall / 2;
    width: 100%;
    padding: $Spacing-ExtraSmall;
    box-shadow: $Box-Shadow;
    border-radius: $Border-Radius;
    border: none;
    font-size: $Font-ParagraphLarge;
    color: var(--Color-PrimaryLight-1);
    outline: none;
  }

  input:focus {
    box-shadow: $Box-ShadowActive;
  }

  ::placeholder {
    color: var(--Color-PrimaryLight-2);
  }
}
