@import '../../styles.scss';

.form__input {
  label {
    margin-left: $Spacing-ExtraSmall;
    font-size: $Font-Small;
    color: $Color-PrimaryLight-1;
  }

  input {
    width: 100%;
    padding: $Spacing-ExtraSmall;
    box-shadow: $Box-Shadow;
    border-radius: $Border-Radius;
    border: none;
    font-size: $Font-ParagraphLarge;
    color: $Color-PrimaryLight-1;
    outline: none;
  }

  input:focus {
    box-shadow: $Box-ShadowActive;
  }

  ::placeholder {
    color: $Color-PrimaryLight-2;
  }
}
