.clothe {
  padding: $Spacing-ExtraSmall;
  & label {
    color: $Color-Grayscale-1;
    border: none;
  }
}

.clothe h2, h4 {
  color: white;
  margin-bottom: $Spacing-ExtraSmall;
}

.clothe__description {
  margin: $Spacing-Normal 0px;
  & .description__clothe {
    width: 100%;
    padding: $Spacing-ExtraSmall;
    border: none;
    box-shadow: $Box-ShadowActive;
    height: 150px;
    outline: none;
    margin-top: $Spacing-ExtraSmall;
    resize: none;
    overflow: auto;
  }
}

.clothe__images {
  margin-top: $Spacing-Normal;
  & .addImage__label {
    margin: $Spacing-ExtraSmall auto;
    width: 200px;
    height: 200px;
  }
  & div {
    & .addImage__label {
      text-align: center;
      margin: $Spacing-Normal auto;
    }
  }
}

.clothe__details {
  margin-top: $Spacing-Normal;
}

.select {
  background-color: white;
  & label {
    color: $Color-Grayscale-4
  }
}

