.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: $Spacing-ExtraSmall $Spacing-Normal;
  background-color: var(--Color-PrimaryLight-1);
  width: 100%;
  box-shadow:$Box-ShadowActive;
  z-index: $z-index-Navbar;
  &__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  & a {
    text-decoration: none;
    opacity: .5;
  }
  &__logo {
    display: none;
  }
  &__logo img {
    width: 3rem;
  }
  &__menu-logout {
    display: none;
    &-button {
      display: none;
    }
  }
  &__menu .active {
      opacity: 1;
    }
}

@media screen and(min-width: 768px) {
  .navbar {
    &__logo {
      display: block;
    }
    &__menu {
      justify-content: space-between;
      width: 20rem;
    }
    &__menu-logout {
      position: relative;
      display: block;
      border-left: 1px solid var(--Color-Grayscale-1);
      padding-left: 2rem;
      opacity: .5;
      &-button {
        display: none;
        position: absolute;
        top: 5px;
        right: 0;
        padding: $Spacing-Small;
        border-radius: $Border-Radius;
        background: var(--Color-PrimaryLight-1);
        color: var(--Color-Grayscale-1);
        transition: 5s;
        font-size: $Font-ParagraphLarge;
        cursor: pointer;
      }
      &-button:hover {
        display: block;
      }
      &:hover ~ .navbar__menu-logout-button {
        display: block;
      }
    }
  }
}
