.clothes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding:1rem;
  width: 100%;
  margin-top: $Spacing-Normal;
  padding-bottom: $Spacing-Normal;
}

.clotheList {
  display: flex;
  flex-wrap: wrap;
  padding: $Spacing-Normal 0px;
  overflow: auto;
  justify-content: center;
}

.btn-active {
  background-color: $Color-Primary;
}

.icon-active {
  color: $Color-Primary;
}

@media screen and (min-width: 1024px) {
  .clotheList {
    width: 70%;
    justify-content: flex-start;
  }
}