.SignupForm {
  margin-top: $Spacing-Large;

  & Button {
    margin-top: $Spacing-Large;
    text-align: center;
    width: 100%;
  }
}

@media screen and(min-width: 768px) {
  .SignupForm {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and(min-width: 1024px) {
  .SignupForm {
    width: 100%;
  }
}