//            _                
//   ___ ___ | | ___  _ __ ___ 
//  / __/ _ \| |/ _ \| '__/ __|
// | (_| (_) | | (_) | |  \__ \
//  \___\___/|_|\___/|_|  |___/
                            
$Color-Primary: #19704E;
$Color-PrimaryLight-1: #298664;
$Color-PrimaryLight-2: #DBE5E1;
$Color-PrimaryLight-3: #E9FFF6;
$Color-Secondary: #20A39E;

$Color-Grayscale-1: #fff;
$Color-Grayscale-2: #F9FAFA;
$Color-Grayscale-3: #838F8C;
$Color-Grayscale-4: #747A78;

:root{
--Color-Negative: #D81C1C;
--Color-Alert: #F39C11;
--Color-Primary: #19704E;
--Color-PrimaryLight-1: #298664;
--Color-PrimaryLight-2: #DBE5E1;
--Color-PrimaryLight-3: #E9FFF6;
--Color-Secondary: #20A39E;

--Color-Grayscale-1: #fff;
--Color-Grayscale-2: #F9FAFA;
--Color-Grayscale-3: #838F8C;
--Color-Grayscale-4: #747A78;

--Color-Negative: #D81C1C;
}