.loginPage {
  height: 100vh;
  background-image: url('https://res.cloudinary.com/martindev/image/upload/v1599889586/ourclothe/image_t1h96s.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  transform: scaleX(-1);
  background-size: cover;
  .login {
    transform: scaleX(-1);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: $Spacing-Small;
    background-color: rgba(255,255,255, .5);
    backdrop-filter: blur(10px);
    &__logo {
      text-align: center;
    }
    &__logo img {
      width: 8rem;
    }
    & h1 {
      text-align: center;
      padding: $Spacing-Small 0;
      border-bottom: 1px solid var(--Color-Primary);
      color: var(--Color-Primary);
    }
  }
}

@media screen and(min-height: 700px) {
  .loginPage .login {
    height: 100vh;
  }
}

@media screen and(min-width: 600px) {
  .loginPage {
    height: 100vh;
    padding: $Spacing-Normal 0;
    overflow: auto;
    .login {
      width: 70%;
      height: fit-content;
      margin: 0 auto;
      border-radius: $Border-Radius;
      box-shadow: $Box-ShadowActive;
    }
  }
}

@media screen and(min-width: 768px) {
  .loginPage {
    // display: flex;
    // align-items: center;
    .login {
      width: 50%;
    }
  }
}

@media screen and(min-width: 1024px) {
  .loginPage {
    .login {
      width: 40%;
    }
  }
}
