.notifications {
  & h1 {
    margin-top: $Spacing-Small;
    text-align: center;
  }

}

@media screen and(min-width: 768px) {
  .notifications__list {
    width: 70%;
    margin-bottom: $Spacing-Normal auto;
  }
}
