.userprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &__settings {
      margin-top: $Spacing-Large;
    }
}

.alert {
  text-align: center;
  padding: 0px 20px;
}

@media screen and (min-width: 1024px) {
  .userprofile{
      flex-direction: initial;
      justify-content: end;
      padding-left: $Spacing-Large;
      margin: 0 auto;
      box-shadow: none;
      align-items: initial;
      overflow: hidden;
      height: calc(100vh - 87px);
    &__settings {
      min-width: 300px;
    }
    .useredit {
      display:flex;
      justify-content:center;
      width:100%;
      padding-top: $Spacing-Large;
      overflow:auto;
      padding-left:10px;
      & .useredit__content{
        width:50%
      }
    }
  }
}