.userprofile {
  &__entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $Border-Radius;
    box-shadow: $Box-ShadowActive;
  }
}
