@font-face {
  font-family: 'ourclothe';
  src: url('./ourclothe.ttf?b16bbv') format('truetype');
}

[class^="our-icon-"], [class*=" our-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ourclothe' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.our-icon-eye:before {
  content: "\e910";
}
.our-icon-location:before {
  content: "\e900";
}
.our-icon-star:before {
  content: "\e901";
}
.our-icon-heart:before {
  content: "\e902";
}
.our-icon-admiration:before {
  content: "\e903";
}
.our-icon-camera:before {
  content: "\e904";
}
.our-icon-Cross:before {
  content: "\e905";
}
.our-icon-down-arrow:before {
  content: "\e906";
}
.our-icon-hanger:before {
  content: "\e907";
}
.our-icon-message:before {
  content: "\e908";
}
.our-icon-party:before {
  content: "\e909";
}
.our-icon-plus:before {
  content: "\e90a";
}
.our-icon-profile:before {
  content: "\e90b";
}
.our-icon-search:before {
  content: "\e90c";
}
.our-icon-settings:before {
  content: "\e90d";
}
.our-icon-tshirt:before {
  content: "\e90e";
}
.our-icon-whatsapp:before {
  content: "\e90f";
}
